<div class="todo-container">
    <h1>?To-Do List</h1>

    <input
    [(ngModel)]="newTodoText"
    placeholder="Add a new element to do"
    (keyup.enter)="addTodo()"
    class="todo-input"
    />
    <button (click)="addTodo()">Add</button>

    <ul>
        <li *ngFor="let todo of todos">
            <input
                type="checkbox"
                [checked]="todo.isCompleted"
                (change)="toggleTodoCompletion(todo.id)"
            />
            <span [class.completed]="todo.isCompleted">{{ todo.text }}</span>
            <button (click)="deleteTodo(todo.id)">Delete</button>
        </li>
    </ul>

    <button (click)="clearCompleted">Clear Completed</button>
</div>